.task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 30%;
}

.task-form {
  width: 80%;
  display: flex;
  justify-content: center;
}

.task-input {
  font-size: 1em;
  border: 0;
  border-bottom: 2px dotted black;
  outline: none;
  width: 60%;
}

.submit-button {
  padding-left: 2em;
}

.task-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.task-list {
  padding: 0;
  width: 60%;
}

.task-list__item {
  padding-bottom: 5px;
}