$button-color: white;

.task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 30%;
}
.task-form {
  display: flex;
  justify-content: space-between;
  width: 60%;

  .task-form__input {
    border: 0;
    font-size: 1em;
    border-bottom: 2px dotted black;
    outline: none;
    width: 100%;
  }

  .task-form__submit-button {
    margin: auto;
    margin-left: 1em;
    border: none;
    background-color: $button-color;
  }
}

.task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .task-list__list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 0;
    width: 60%;
  }

  .task-list__clear-button {
    margin: 10px auto;
    border: none;
    background-color: $button-color;

    &.hidden {
      display: none;
    }
  }

  .task-list__comment {
    font-size: 0.8em;
    text-align: center;
  }
}
