@import "Variables";

.task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 30%;
}
.task-form {
  display: flex;
  justify-content: space-between;
  width: 60%;

  .task-form__input {
    border: 0;
    font-size: 1em;
    border-bottom: 2px dotted black;
    outline: none;
    width: 100%;
  }

  .task-form__submit-button {
    margin: auto;
    margin-left: 1em;
    border: none;
    background-color: $button-color;
  }
}
