@import "Variables";

.task-list {
    color: $text-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  
    .task-list__list {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      padding: 0;
      width: 65%;
    }
  
    .task-list__clear-button {
      margin: 10px auto;
      font-size: 1em;
      color: $shadow-color;
      opacity: 1;
      transition: opacity 1s;

      &.hidden {
       opacity: 0;
      }
    }
  
    .task-list__comment {
      font-size: 0.8em;
      text-align: center;
      font-style: italic;
    }
  }
  