@import "Variables";

.task {
  display: flex;
  justify-content: space-between;
  list-style: inside;
  padding-bottom: 10px;

  .task__description {
    flex-grow: 1;
    word-break: break-all;
  }

  .task__delete-button {
    padding: 0;
    padding-left: 1em;
    color: $shadow-color;
    font-size: 1em;
  }
}

.task:before {
  content: '•';
  margin-right: 0.7em;
  color: $shadow-color;
  display: none;
}
